absl-py==0.13.0
advertools==0.11.1
aiobotocore==1.4.2
aiofiles==0.7.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioitertools==0.8.0
aioredis==1.3.1
alabaster==0.7.8
alembic==1.4.1
altair==4.1.0
aniso8601==9.0.1
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==20.1.0
asciitree==0.3.3
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
Automat==20.2.0
aws-sam-translator==1.39.0
aws-xray-sdk==2.8.0
azure-core==1.15.0
azure-storage-blob==12.8.1
Babel==2.6.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bleach==3.3.0
blessings==1.7
blinker==1.4
blis==0.4.1
boto3==1.17.101
botocore==1.20.106
bottle==0.12.19
Brlapi==0.7.0
cached-property==1.5.1
cachetools==4.2.2
catalogue==2.0.6
catboost==0.26
category-encoders==2.2.2
certifi==2020.12.5
cffi==1.14.5
cfn-lint==0.54.3
chardet==3.0.4
charset-normalizer==2.0.7
cliapp==1.20180812.1
click==7.1.2
cloudpickle==1.6.0
cmdtest==0.32+git
colorama==0.4.4
colorful==0.5.4
command-not-found==0.3
ConfigArgParse==1.5
constantly==15.1.0
copydetect==0.2.1
cryptography==3.4.7
cssselect==1.1.0
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.17
dask==2021.6.2
databricks-cli==0.14.3
dateutils==0.6.12
dbus-python==1.2.16
decorator==5.0.9
defer==1.0.6
defusedxml==0.7.1
deprecation==2.1.0
dill==0.2.9
distlib==0.3.1
distributed==2021.6.2
distro==1.4.0
distro-info===0.23ubuntu1
docker==5.0.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
ecdsa==0.14.1
elasticsearch==7.7.1
elasticsearch-dsl==7.0.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.1.0
evalml==0.28.0
fastapi==0.58.1
fasttext==0.9.2
featuretools==0.25.0
feedparser==5.2.1
filelock==3.0.12
Flask==2.0.1
Flask-BasicAuth==0.2.0
Flask-RESTful==0.3.9
flatbuffers==1.12
fsspec==2021.10.1
future==0.18.2
gast==0.4.0
gdown==3.13.0
gensim==3.8.0
gevent==21.1.2
geventhttpclient==1.4.4
gitdb==4.0.7
GitPython==3.1.18
google==3.0.0
google-api-core==1.30.0
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gorilla==0.4.0
gpustat==0.6.0
graphviz==0.16
greenlet==1.1.0
grpcio==1.34.1
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
h5py==3.1.0
HeapDict==1.0.1
hiredis==2.0.0
hpack==3.0.0
httplib2==0.14.0
httptools==0.1.2
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.8
imageio==2.12.0
imagesize==1.2.0
imbalanced-learn==0.8.0
importlib-metadata==1.5.0
imutils==0.5.4
incremental==21.3.0
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsondiff==1.3.0
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
junit-xml==1.9
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jupytext==1.11.4
kaleido==0.2.1
kazam==1.4.5
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.3.1
langcodes==3.3.0
langdetect==1.0.8
language-selector==0.1
lark==0.11.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libcst==0.3.20
lightgbm==3.2.1
llvmlite==0.36.0
locket==0.2.1
locust==1.3.1
louis==3.12.0
lxml==4.6.3
macaroonbakery==1.3.1
Mako==1.1.4
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mdit-py-plugins==0.2.8
mistune==0.8.4
mlflow==1.11.0
more-itertools==4.2.0
Morfessor==2.0.6
moto==2.2.11
mpmath==1.2.1
msgpack==1.0.2
msrest==0.6.21
Multi-Template-Matching==1.6.3
multidict==5.1.0
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
networkx==2.6.1
nlp-primitives==1.1.0
nltk==3.4.5
notebook==6.4.0
numba==0.53.1
numpy==1.21.3
numpydoc==0.7.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencensus==0.7.13
opencensus-context==0.1.2
opencv-contrib-python==4.5.4.60
opencv-python==4.5.3.56
opencv-python-headless==4.5.4.60
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.2
partd==1.2.0
pathlib==1.0.1
pathy==0.6.0
patsy==0.5.1
pdf2image==1.16.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2020.11.15
plac==0.9.6
plotly==5.1.0
ply==3.11
pmdarima==1.8.0
polyglot==16.7.4
preshed==3.0.5
priority==1.3.0
prometheus-client==0.11.0
prometheus-flask-exporter==0.18.2
prompt-toolkit==3.0.19
Protego==0.1.16
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py-spy==0.3.7
pyaml==20.4.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycairo==1.16.2
pycld2==0.41
pycparser==2.20
pycups==1.9.73
pydantic==1.7.4
pydeck==0.6.2
PyDispatcher==2.0.5
pydot-ng==2.0.0
Pygments==2.9.0
PyGObject==3.36.0
PyICU==2.7.4
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.9.0
PyMuPDF==1.16.14
PyNaCl==1.3.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.17.3
PySocks==1.7.1
pytesseract==0.3.7
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-dotenv==0.18.0
python-editor==1.0.4
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.1
PyWavelets==1.2.0
pyxdg==0.26
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
querystring-parser==1.2.4
queuelib==1.6.1
random-object-id==2.0.0
ray==1.0.0
redis==3.4.1
reportlab==3.5.34
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
requirements-parser==0.2.0
responses==0.14.0
roman==2.0.0
rsa==4.7.2
s3fs==2021.10.1
s3transfer==0.4.2
scikit-image==0.18.3
scikit-learn==0.24.2
scikit-optimize==0.8.1
scikit-plot==0.3.7
scipy==1.7.0
Scrapy==2.5.0
seaborn==0.11.1
SecretStorage==2.3.1
Send2Trash==1.7.1
service-identity==21.1.0
setproctitle==1.1.10
shap==0.39.0
simplejson==3.16.0
six==1.15.0
sktime==0.6.1
slicer==0.0.7
smart-open==5.1.0
smmap==4.0.0
sortedcontainers==2.4.0
soupsieve==2.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
Sphinx==1.8.5
SQLAlchemy==1.3.13
sqlparse==0.4.1
srsly==2.4.2
sshpubkeys==3.3.1
starlette==0.13.4
statsmodels==0.12.2
streamlit==0.84.1
sympy==1.9
systemd-python==234
tabulate==0.8.9
tblib==1.7.0
tenacity==8.0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.10.1
tesseract==0.1.3
testpath==0.5.0
textblob==0.15.3
texttable==1.6.3
thinc==8.0.13
threadpoolctl==2.1.0
tifffile==2021.11.2
tika==1.24
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
ttystatus==0.38
Twisted==21.2.0
twython==3.8.2
typer==0.3.2
typing-extensions==3.7.4.3
typing-inspect==0.7.1
tzlocal==2.1
ubuntu-advantage-tools==27.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.2.0
uritools==3.0.2
urlextract==1.0.0
urllib3==1.25.8
uvicorn==0.11.5
uvloop==0.14.0
validators==0.18.2
virtualenv==20.4.3
virtualenv-clone==0.5.4
w3lib==1.22.0
wadllib==1.3.3
wasabi==0.8.2
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
websockets==8.1
Werkzeug==2.0.1
wget==3.2
widgetsnbextension==3.5.1
woodwork==0.4.2
wrapt==1.12.1
WTForms==3.0.0
xgboost==1.2.1
xkit==0.0.0
xlrd==2.0.1
xmltodict==0.12.0
xonsh==0.9.13
yapy-arm64==1.0
yarl==1.6.3
zict==2.0.0
zipp==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
